.our-solutions-section {
  padding-top: 80px !important;
}

.our-solutions-section .row{
  row-gap: 40px;
}

.our-solutions-section .nav-link {
  padding: 16px 20px;
}

/* .our-solutions-section .nav-pills{
    position: sticky;
    top: 100px;
} */

.our-solutions-section .nav-item {
  margin-top: 20px;
}

.our-solutions-section .tab-content .stat-row img {
  width: 70px;
  height: 70px;
  /* opacity: 0.8; */
}

.our-solutions-section .tab-content .stat-row h4 {
  font-size: 16px;
  opacity: 0.8;
  text-align: center;
}

.our-solutions-section .tab-content .stat-row h4 span {
  opacity: 1;
  color: black;
  font-weight: bold;
}

.our-solutions-section .stat-row .stat-boxes {
  display: flex;
  align-items: start;
  flex-direction: column;
  /* background: #f1f7fe; */
  border-radius: 16px;
  padding: 1.5rem;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.our-solutions-section .stat-row .stat-boxes h4{
  font-size: 16px !important;
  color: rgb(107 114 128);
  font-weight: 400;
  margin: 0;
}

.our-solutions-section .stat-row .stat-boxes .stat-svg{
  display: flex;
  align-items: center;
  gap: 12px;
}

.our-solutions-section .stat-row .stat-boxes .stat-svg span{
  font-size: 1.5rem;
  font-weight: 600;
}

.our-solutions-section .stat-row .col-sm-4:nth-child(1) svg {
  color: rgb(22 163 74);
  background-color: rgb(240 253 244);
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
}

.our-solutions-section .stat-row .col-sm-4:nth-child(2) svg {
  color: rgb(37 99 235);
  background-color: rgb(239 246 255);
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
}

.our-solutions-section .stat-row .col-sm-4:nth-child(3) svg {
  color: rgb(147 51 234);
  background-color: rgb(250 245 255);
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 5px;
}

.our-solutions-section .tab-content .primary-btn {
  padding: 14px;
}

.our-solutions-section .tab-content a {
  color: black;
  cursor: pointer;
}

.our-solutions-section .solution-content-box {
  /* background-color: #f1f7fe; */
  border-radius: 8px;
  padding: 26px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.our-solutions-section .solution-content-box ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 25px 0;
  padding: 0;
  list-style: none;
}

.our-solutions-section .solution-content-box ul li {
  display: flex;
  align-items: start;
  gap: 16px;
}

.our-solutions-section .solution-content-box ul li .svg-box {
  background-color: rgb(239 246 255);
  padding: 0.5rem;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  color: var(--primary-color);
}

.our-solutions-section .solution-content-box ul li h4 {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.our-solutions-section .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.our-solutions-section .nav-item .nav-link:hover {
  background-color: var(--primary-color);
  color: white;
}

.our-solutions-section .nav-item .nav-link svg {
  /* padding: 1px; */
  margin-right: 10px;
  width: 1.2rem;
  height: 1.2rem;
}


@media(max-width:1024px){
  .our-solutions-section .stat-row .stat-boxes{
    margin: 0;
    height: 100%;
  }
}