.hero-section .rfm-marquee .item {
  margin-left: 40px;
  background: white;
  /* height: 80px; */
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.hero-section .rfm-marquee .item img {
  /* width: 150px; */
  object-fit: cover;
}

.hero-section .marquee-slider {
  margin-top: 60px;
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    #fbf9f9 15%,
    #fcf8f8 85%,
    transparent
  );
}
