.home-services-section {
  margin: 60px 0 0 0;
  padding: 80px 0 60px 0;
  background-color: #cccccc2b;
}

.home-services-section .card {
  background-color: transparent;
  border: none;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-right: 1px solid #ccc;
  padding: 20px !important;
}

.home-services-section .card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 16px;
}

.home-services-section .card .primary-btn {
  width: fit-content !important;
}

.testimonial-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0; */
  margin-bottom: 40px;
}

.home-services-section .swiper-wrapper {
  margin-left: 5px;
}

.testimonial-section-header h2 {
  margin: 0;
  position: relative;
  z-index: 1;
}

.home-services-section .testimonial-section-header h2::before {
  content: none;
}

.home-services-section .card .user-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-services-section .card .user-div img {
  border-radius: 100px;
}

.home-services-section .card .user-div h5 {
  font-size: 16px;
}

.home-services-section .card .user-div p {
  font-size: 12px;
}

.home-services-section .card p,
.home-services-section .card h5 {
  margin-bottom: 0;
}

.home-services-section .custom-nav {
  display: flex;
  gap: 10px;
}

.home-services-section .custom-nav .custom-prev {
  background: var(--primary-color);
  border-radius: 100px;
  padding: 6px;
  border: none;
  transform: rotate(180deg);
  cursor: pointer;
}

.home-services-section .custom-nav .custom-next {
  background: var(--primary-color);
  border-radius: 100px;
  padding: 6px;
  border: none;
  cursor: pointer;
}

.home-services-section .custom-nav .custom-prev img,
.home-services-section .custom-nav .custom-next img {
  width: 36px;
}

.case-study-boxes img {
  width: 100%;
  height: 240px;
}

.case-study-boxes {
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-bottom: 20px;
  cursor: pointer;
  height: 100%;

  &:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  & button{
    width: fit-content !important;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0;
    margin-top: 10px;
  }

  & .content {
    padding: 0 14px;

    & h4 {
      font-size: 20px;
    }

    & p {
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media (max-width: 767px) {
  .testimonial-section-header {
    flex-wrap: wrap;
    gap: 14px;
  }
}
