.cta-section h2 {
  font-size: 30px !important;
  line-height: normal !important;
}

.cta-section input {
  padding: 16px;
  margin-top: 20px;
}

.cta-section .login-text {
  margin-top: 20px !important;
  font-weight: 400;

  & a {
    color: inherit;
    font-weight: 400;
  }
}

.cta-success-modal {
  padding: 50px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.cta-success-modal img {
  width: 100px;
}

.cta-success-modal .close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #3b3a3a;
  cursor: pointer;
}