.page-features-section .col-sm-6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.page-features-section h2{
    font-size: 26px !important;
    line-height: normal !important;
}

.page-features-section .content-col{
    align-items: start;
}

.page-features-section .content-col hr{
    background-color: black;
    height: 1px;
    width: 100%;
    /* opacity: 1; */
}

.page-features-section .content-col ul li{
    font-size: 16px;
    margin-bottom: 8px;
}

.page-features-section .row{
    row-gap: 20px;
    /* margin-bottom: 100px; */
    position: relative;
    align-items: center;
}

.page-features-section .row::after{
    content: url('../../../public/assets/images/col-arrow.png');
    text-align: center;
    margin: auto;
}

.page-features-section .row:last-child:after{
    content: "";
}

.page-features-section .row:nth-child(even){
    flex-direction: row-reverse;
}


.page-features-section img{
    width: 100%;
    height: 450px;
    object-fit: contain;
}
