.hero-section {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  padding: 80px 0 !important;
  position: relative;
  z-index: 1;
}

.hero-section::before {
  content: "";
  background-image: url("../../../public/assets/images/background-shadow.png");
  position: absolute;
  top: -160px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-section h1 {
  text-align: start;
  font-weight: 600 !important;
  margin: 0;
  padding: 0;

  & span {
    font-weight: 600 !important;
  }
}

.hero-section a {
  color: black;
}

.vector-icon-1 {
  position: absolute;
  top: 10%;
  left: 22%;
  animation: 2s infinite alternate mover;
}

.vector-icon-2 {
  position: absolute;
  top: 4%;
  left: 45%;
  animation: 2s infinite alternate mover;
}

.vector-icon-3 {
  animation: 2s infinite alternate mover;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.hero-section h1 span,
.hero-section .description span {
  /* color: var(--primary-color); */
  font-weight: 600;
}

.hero-section .description {
  font-size: 18px;
  line-height: 32px;
  text-align: start;
  margin: 20px 0 40px 0 !important;
  font-weight: 400 !important;
  color: #4f4f4f;
}

.hero-section .primary-btn {
  /* margin: auto; */
  padding: 16px 40px;
}

.hero-section .review-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  width: 100%;
  margin-top: 40px;
}

.hero-section .svg-section {
  display: flex;
  gap: 4px !important;

  & svg {
    color: #ffc83d;
  }
}

.hero-section .review-section p {
  margin: 0;
  color: #5b5a5a;
  font-weight: 400;
}

.hero-section .review-section div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cover-line {
  text-align: center;
  margin-top: 16px;
  font-weight: 400;
}

.cta-section {
  padding: 60px 0;
  margin-top: 0px;
}

.cta-section .row,
.cta-section .row .col-sm-12 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.cta-section .row .col-sm-12 {
  background-color: #293fccc2;
  padding: 60px 20px;
  border-radius: 24px;
  position: relative;
}

.cta-section h2 {
  text-align: center;
  font-size: 34px !important;
  color: white;
  margin: 0;
}

.cta-section p {
  text-align: center;
  color: white;
}

.cta-section .input-div {
  background-color: white;
  padding: 10px 20px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
}

.cta-section .input-div input {
  border: none;
  width: 100%;
}

.cta-section svg {
  /* background-color: var(--primary-color); */
  width: 20px;
  height: 20px;
  color: #dddcdc;
  padding: 10px;
  border-radius: 100px;
}

.cta-section .cta-graphic {
  position: absolute;
  left: 30px;
  top: -56px;
  width: 210px;
}

.routing-section {
  background-color: rgba(20, 31, 57, 1);
  color: white;
  padding: 0 !important;
}

.routing-section img {
  height: 400px;
}

.routing-section p {
  color: rgba(200, 208, 255, 1);
  font-weight: 400;
}

.routing-section button {
  border: 1px solid #fff;
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.routing-section .col-sm-6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.community-section {
  background-color: rgba(20, 31, 57, 1);
  position: relative;
  padding-bottom: 104px;
}

.community-section h2 {
  color: white;
}

.community-section .community-stats-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}

.community-section .community-stats-div div {
  border: 2px solid rgba(69, 196, 215, 1);
  padding: 30px;
  border-radius: 10px;
  color: rgba(69, 196, 215, 1);
  width: 240px;
}

.community-section .community-stats-div div h4 {
  font-size: 40px !important;
}

.community-section .community-stats-div div h4 span {
  font-size: 12px;
}

.community-section .community-stats-div div p {
  color: white;
  font-weight: 400 !important;
}

.community-section .before-img {
  position: absolute;
  bottom: -7px;
  left: 80px;
  height: 165px;
}

@media (max-width: 768px) {
  .cta-section .cta-graphic,
  .community-section .before-img {
    display: none;
  }

  .cta-section .row .col-sm-12{
    border-radius: 0;
  }

  .cta-section .input-div{
    width: 100%;
  }

  .community-section{
    padding-bottom: 40px;
  }

  .community-section .row{
    row-gap: 40px;
  }

  .community-section p{
    margin: 0 !important;
    padding: 0 !important;
  }
}
