/* Header styles */
header {
  position: sticky;
  top: 0;
  z-index: 99;
}

header .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  background: transparent;
  backdrop-filter: blur(8px);
}

.header-scrolled {
  background-color: white;
  border-bottom: 1px solid #cccccc8b;
}

/* Adjust header links when scrolled */
.header-scrolled ul li a {
  color: black;
}

/* Style for the header menu */
header ul {
  display: flex;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header .right-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

header .logo-div {
  font-size: 28px;
  color: var(--primary-color);
  font-weight: 600;
}

header ul li {
  padding: 30px 0;
  cursor: pointer;
}

header ul li a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

header ul li a svg {
  width: 12px;
  height: 12px;
  stroke: black;
  fill: black;
}

.header-scrolled ul li a svg {
  fill: rgb(90, 88, 88);
}

header ul li a:hover,
header ul li a:hover svg {
  color: var(--primary-color);
  fill: var(--primary-color);
  stroke: var(--primary-color);
}

/* Mobile Menu Icon - hidden by default */
.mobile-menu-icon {
  display: none;
}

nav {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  padding: 8px 0;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  /* border-radius: 16px; */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  padding: 0px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
  /* padding: 20px 0; */
  border-top: 3px solid var(--primary-color);
  z-index: 9999;
}

.header ul li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.mega-menu-products {
  /* display: grid; */
  /* gap: 20px; */
  padding: 20px 0 10px 0;
}

.mega-menu-products h5 {
  padding: 0;
  margin-bottom: 20px;
  line-height: normal !important;
  /* color: #848484; */
  font-size: 18px;
}

.header ul li {
  display: flex;
  gap: 16px;
  border-radius: 6px;
  transition: 0.2s;
}

/* .product-item:hover {
  background: #f5f5f5;
} */

.product-icon {
  width: 40px;
  height: 40px;
}

.product-content {
  /* padding: 10px 16px; */
  border-radius: 16px !important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-content h3 {
  font-size: 16px;
  margin-bottom: 4px;
}

.product-content p {
  font-size: 12px;
  color: #666;
  line-height: 1.4;
}

/* .header-icon-div {
  background-color: #007bff60;
  padding: 5px;
  border-radius: 100px;
} */

.product-content img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  background: #ebf3ff;
  padding: 10px;
  border-radius: 10px;
}

.menu-links h3 {
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.697);
}

.mega-menu-links {
  background: #0066ff14;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mega-menu-products a {
  padding: 5px 0 20px 0;
}

.mega-menu-links li {
  padding: 10px 0;
}

.mega-menu-links li img {
  width: 70%;
}

.mega-menu-links li p {
  font-size: 14px;
  color: black;
}

.menu-links {
  list-style: none;
  display: grid;
  gap: 0px;
}

.menu-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  transition: color 0.2s;
  padding: 10px !important;
}

.menu-links a:hover {
  color: #007bff;
}

@media (max-width: 991px) {
  .mobile-menu-icon {
    display: block; /* Show hamburger icon */
  }
  header ul {
    display: none; /* Hide the regular menu on mobile */
  }
  .mobile-menu-icon svg {
    width: 30px;
    height: auto;
    cursor: pointer;
  }

  header {
    padding: 20px 12px;
  }

  header .primary-btn {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-scrolled .mobile-menu-icon svg path {
    stroke: black; /* Change stroke color when scrolled */
  }
}

/* Sidebar styles - initially hidden */
.sidebar {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  transition: right 0.3s ease;
  z-index: 1001;
  padding-top: 60px;
}

.sidebar.open {
  right: 0; /* When open, bring it into view */
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* margin-top: 40px; */
}

.sidebar ul li {
  padding: 10px;
}

/* .sidebar ul li:not(:last-child) {
  border-bottom: 1px solid #e3dcdc;
} */

.sidebar .accordion-button {
  border-radius: 0 !important;
  background-color: #fff !important;
  border: 0 !important;
}

.accordion-button:focus {
  box-shadow: none;
}

.sidebar .accordion-item {
  border-top: 0 !important;
}

.sidebar .accordion-item:last-child {
  border-bottom: 0 !important;
}

.sidebar .accordion-body {
  padding-top: 0;
}

.sidebar ul li a {
  color: black;
  text-decoration: none;
}

.sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  background: none;
  border: none;
  color: black;
  cursor: pointer;
}

.sidebar .accordion .accordion-item:not(:first-child) .accordion-button:after {
  content: none;
}

.sidebar .accordion {
  margin-top: 20px;
  border: 0;
}

.sidebar a {
  color: black;
}

/* Overlay to close sidebar when clicked outside */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

header ul li.dropdown {
  position: relative;
}

header li.dropdown:hover .dropdown-menu {
  display: block;
}

header ul li .dropdown-menu {
  position: absolute;
  top: 76%;
  left: 0;
  display: none;
  background-color: white;
  border: 1px solid #fdfafa;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  min-width: 180px;
  z-index: 1000;
}

header ul li .dropdown-menu li {
  padding: 10px;
  border-bottom: 1px solid #cbcaca;
}

header ul li .dropdown-menu li:last-child {
  border: 0;
}

header ul li .dropdown-menu li a {
  text-decoration: none;
  color: black;
}

header ul li .dropdown-menu li a:hover {
  color: #41cb5a;
}
