.features-section {
  background-color: #174ea616;
  padding-bottom: 60px !important;
}

.features-section h3 {
  font-size: 40px !important;
}

.features-section p {
  font-size: 18px;
  margin: 10px 0 30px 0;
}

.features-section .row .col-sm-6 img {
  height: 500px;
  /* object-fit: contain; */
  border-radius: 16px;
}
