.features-section {
  position: relative;
}

.features-section .row {
  row-gap: 170px;
}

.features-section h2 {
  font-size: 32px !important;
  line-height: 45px !important;
}

.features-section h4 {
  margin-top: 20px;
}

.features-section ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
}

.features-section ul li {
  color: #4f4f4f;
}

.features-section .col-sm-6:first-child {
  position: relative;
}

.features-section .col-sm-6:first-child::after {
  content: url("../../../public/assets/images/col-arrow.png");
  position: absolute;
  bottom: -160px;
  right: 45px;
}

.features-section .row:last-child::after {
  content: url("../../../public/assets/images/col-arrow.png");
  position: absolute;
  bottom: -100px;
  right: 45%;
  transform: rotate(-50deg);
}
