.intigration-section {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.intigration-section .container {
  height: 100%;
}

.intigration-section .banner-content-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.intigration-section h1 {
  text-align: center;

  & span {
    font-weight: 600;
  }
}

.intigration-section::before {
  content: "";
  background-image: url("https://cdn.prod.website-files.com/63a40b5c0bd7062fd386021f/63a40b5d0bd70664168603a5_bg-integrations-webtech-template.svg");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: -20%;
  background-repeat: no-repeat;
  top: -10%;
}

.intigration-section::after {
  content: "";
  background-image: url("https://cdn.prod.website-files.com/63a40b5c0bd7062fd386021f/63a40b5d0bd70664168603a5_bg-integrations-webtech-template.svg");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 70%;
  background-repeat: no-repeat;
  top: -10%;
}

.intigration-logo-1 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 300px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-2 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 100px;
  top: 200px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-3 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 400px;
  top: 400px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-4 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 150px;
  top: 500px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-5 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 270px;
  top: 50px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-6 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 100px;
  top: 200px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-7 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 300px;
  top: 400px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-8 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 150px;
  top: 500px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.major-intigration {
    & .col-lg-8 div{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
  & span {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 16px;
    border-radius: 10px;
  }

  & span:hover{
    background-color: var(--primary-color);
    color: white;
  }
}


@media(max-width:768px){
  .intigration-logo-1,.intigration-logo-2,.intigration-logo-3,.intigration-logo-4,.intigration-logo-5,.intigration-logo-6,.intigration-logo-7,.intigration-logo-8{
    display: none;
  }
}
