.intigration-section {
  position: relative;
  height: 90vh;
  overflow: hidden;
  z-index: 1;
}

.intigration-section .container {
  height: 100%;
}

.intigration-section .banner-content-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.intigration-section h1 {
  text-align: center;

  & span {
    font-weight: 600;
  }
}

.intigration-section::before {
  content: "";
  background-image: url("https://cdn.prod.website-files.com/63a40b5c0bd7062fd386021f/63a40b5d0bd70664168603a5_bg-integrations-webtech-template.svg");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: -20%;
  background-repeat: no-repeat;
  top: -10%;
  z-index: -1;
}

.intigration-section::after {
  content: "";
  background-image: url("https://cdn.prod.website-files.com/63a40b5c0bd7062fd386021f/63a40b5d0bd70664168603a5_bg-integrations-webtech-template.svg");
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 70%;
  background-repeat: no-repeat;
  top: -10%;
}

.intigration-logo-1 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 300px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-2 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 100px;
  top: 200px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-3 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 400px;
  top: 400px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-4 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  left: 150px;
  top: 500px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-5 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 270px;
  top: 50px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-6 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 100px;
  top: 200px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-7 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 300px;
  top: 400px;

  & img {
    width: 60px;
    height: 60px;
  }
}

.intigration-logo-8 {
  background-color: white;
  z-index: 1;
  display: block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: fit-content;
  padding: 16px;
  border-radius: 16px;
  position: absolute;
  right: 150px;
  top: 500px;

  & img {
    width: 60px;
    height: 60px;
  }
}


.major-intigration {
  & .col-lg-8 div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  & span {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 16px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
  }

  & span:hover {
    background-color: var(--primary-color);
    color: white;
  }
}

.major-intigration .integration-row {
  margin-top: 60px;
}

.major-intigration .integration-boxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #cccccc6b;
  border-radius: 16px;
  padding: 10px 24px 24px 24px;
  height: 100%;
  cursor: pointer;

  & a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--primary-color) !important;
    transition: 0.2s;
  }
}

.major-intigration .integration-boxes:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  & a {
    gap: 10px;
  }
}

.major-intigration .integration-boxes img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.integration-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & input,
  textarea {
    padding: 12px;
    margin-top: 5px;
  }

  & .primary-btn {
    width: fit-content !important;
  }
}

@media (max-width: 1024px) {
  .intigration-logo-1,
  .intigration-logo-2,
  .intigration-logo-3,
  .intigration-logo-4,
  .intigration-logo-5,
  .intigration-logo-6,
  .intigration-logo-7,
  .intigration-logo-8 {
    display: none;
  }
  .intigration-section {
    height: 100%;
  }
  .intigration-section::after {
    content: none;
  }
}

@media (max-width: 911px) {
  .intigration-section {
    height: 100%;
  }
  .intigration-section::after {
    content: none;
  }
}
